{% extends "base.html" %}
{% block content %}
        <!-- Заголовок, полученный из контекста -->
        <h1>{{ title }}</h1>
        <!-- Сообщение, полученное из контекста -->
        <p>{{ message }}</p>

  {% if records %}
        <!-- Если есть записи, выводим их список -->
        <h2>Cars in garage</h2>
        <ol>
            <!-- Цикл по всем записям -->
             {% for record in records %}
            <li>Car: {{ record }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <!-- Если нет записей -->
        <h2>Garage is empty</h2>
        {% endif %}
{% endblock %}