{% extends 'shop_app/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Цена: {{product.price}} руб.</p>
        <p>Дата создания: {{product.created_at}}</p>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <h1 class="text-danger">подтвердите удаление товара</h1>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'products_list' %}" class="btn btn-secondary">Отмена</a>
        </form>


{% endblock %}